@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$colors: (
    pink: hsl(322, 100%, 66%),
    VeryDarkCyan: hsl(192, 100%, 9%),
    GrayishBlue: hsl(208, 11%, 55%),
    VeryPaleCyan: hsl(193, 100%, 96%)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 600px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

$desktop: 1200px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
    font-size: 0.75rem;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    h1 {
        font-family: "poppins", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;

        @include tablet {
            font-size: 2.2rem;
        }
    }

    button {
        background-color: color(pink);
        border-style: none;
        margin-top: 1em;
        padding: 1.2em 3em;
        border-radius: 1.875em;
        color: white;
        font-family: "open sans", sans-serif;
        font-weight: 700;

        @include tablet {
            font-size: 1rem;
        }
    }

    p, span {
        font-family: "open sans", sans-serif;
        font-weight: 400;
        font-size: 0.9em;
    }

    span {
        font-size: 0.9rem;
    }

   
        header {
            background-image: url(/images/bg-hero-mobile.svg);
            background-position: center -2.8em;
            background-repeat: no-repeat;
            height: 100vh;
            background-color: color(VeryPaleCyan);
            display: flex;
            flex-direction: column;
            padding-bottom: 3em;

            @include tablet {
                height: auto;
            }

            nav{
                display: flex;
                justify-content: space-between;
                width: 90%;
                padding: 1.8em 1.8em 3.6em 1.8em;
                align-items: center;
                max-width: 1000px;
                margin: auto;

                img{
                    width: 100px;
                }

                span:nth-child(2) {
                    background-color: white;
                    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
                    color: black;
                    font-family: "opens sans", sans-serif;
                    font-weight: 400;
                    width: 9em;
                    padding: 1em;
                    text-align: center;
                    border-radius: 30px;
                    font-size: 0.75rem;

                    @include tablet {
                        font-size: 1rem;
                    }
                }
            }

            div.box {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 80%;
                margin: 3em auto 0;
                height: auto;

                @include desktop() {
                    flex-direction: row;
                    width: 90%;

                    .one{
                        width: 45%;
                        padding: 6em 2.2em 0;

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }

                div.two{
                    margin: 8em auto 0;

                    @include desktop {
                        margin: 0;
                    }

                    img{
                        display: block;
                        width: 100%;
                        margin: auto;
                        max-width: 700px;
                    }
                }

                p {
                    font-family: "open sans", sans-serif;
                    font-weight: 400;
                    font-size: 1.5em;

                    @include tablet {
                        font-size: 1.8rem;
                    }
                }
            
            }
                
        }
    
        div.wrapper {
            width: 90%;
            margin: auto;

            @include tablet {
                max-width: 600px;
                margin: auto;
            }

            @include desktop {
                max-width: 1800px;
            }

            .box:nth-child(-n + 3) {
                @include desktop(){
                    flex-direction: row;
                    padding: 3em;
                    min-height: 50vh;
                }
            }

            .box:nth-child(1) .subbox:first-child, .box:nth-child(3) .subbox:first-child{
                @include desktop(){
                    order: 1;
                }
            }

            div.box {
                display: flex;
                flex-direction: column;
                min-height: 55vh;
                margin: 2.5em auto 0;
                justify-content: space-evenly;
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.432);
                border-radius: 10px;
                padding: 5em 1.5em;

                img {
                    width: 100%;
                }

                div.subbox {
                    h2{
                        text-align: center;
                        @include tablet {
                            font-size: 1.8rem;
                        }
                    }

                    p{
                        text-align: center;
                        width: 90%;
                        margin: auto;
                        color: color(GrayishBlue);
                        font-size: 1.2em;
                        line-height: 1.8em;

                        @include tablet {
                            font-size: 1.3rem;
                        }
                    }
                    }
                
                    @include desktop {
                        .subbox {
                            padding: 1em;
                        }

                        .subbox:first-child {
                            width: 40%;
                        }

                        .subbox:nth-child(2){
                            width: 60%;
                            align-self: center;

                            h2{
                                margin: 0;
                            }
                        }    
                }
            }

            div.five {
                max-width: 500px;
                min-height: auto;
                height: auto;
                background-color: white;
                display: flex;
                align-items: center;
                padding: 1em 0;
                position: relative;
                top: 6em;

                @include desktop{
                    padding: 2em 0;
                }

                h2 {
                    text-align: center;
                    margin: 1em 0 1em;

                }

                button {
                    margin: 0 auto 1em;
                }
            }    
        }

        footer {
            background-color: color(VeryDarkCyan);
            color: white;
            height: auto;
            display: flex;

            @include tablet {
                justify-content: center;
                text-align: center;
            }

            @include desktop {
                text-align: start;
            }

            div.footwrapper {
                width: 85%;
                max-width: 500px;
                margin: 12em 2em 2em 2em;

                @include desktop {
                    max-width: 1400px;
                    width: 90%;
                }

                div.logo img {
                    min-width: 150px;
                    max-width: 40%;
                }

                div.info{

                    @include desktop {
                        display: flex;
                        justify-content: space-between;

                        ul {
                            width: 25%;
                        }
                    }

                    ul li {
                        display: flex;
                        margin-top: 2em;

                        img {
                            width: 1.2em;
                            margin-right: 2em;
                        }
                    }

                    ul.moreinfo{
                        margin-top: 6em;

                        @include desktop{
                            margin-top: 0;

                            li{
                                width: 30%;
                                margin-left: 50%;
                                transform: translate(-50%, 0);
                            }
                        }
                    }

                    ul.social{
                        display: flex;
                        justify-content: center;
                        margin: 5em 0;

                        @include desktop{
                            margin: 0;
                            align-self:flex-start;
                        }

                        li {
                            margin: 2em;
                        }
                    }
                }

                span.copyright {
                    display: block;
                    text-align: center;
                    margin-bottom: 2em;

                    @include desktop {
                        margin-top: 3em;
                        text-align: end;
                    }
            }
            }
        }


       
}