@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "open sans", sans-serif;
  font-size: 0.75rem;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body h1 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  body h1 {
    font-size: 2.2rem;
  }
}

body .clickable {
  cursor: pointer;
}

body button {
  background-color: #ff52bf;
  border-style: none;
  margin-top: 1em;
  padding: 1.2em 3em;
  border-radius: 1.875em;
  color: white;
  font-family: "open sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

@media (min-width: 600px) {
  body button {
    font-size: 1rem;
  }
}

body p, body span {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

body span {
  font-size: 0.9rem;
}

body header {
  background-image: url(../css/images/bg-hero-mobile.svg);
  background-position: center -2.8em;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #ebfbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3em;
}

@media (min-width: 600px) {
  body header {
    height: auto;
  }
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding: 1.8em 1.8em 3.6em 1.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: auto;
}

body header nav img {
  width: 100px;
}

@media (min-width: 600px) {
  body header nav img {
    width: 80%;
  }
}

body header nav span:nth-child(2) {
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  color: black;
  font-family: "opens sans", sans-serif;
  font-weight: 400;
  width: 9em;
  padding: 1em;
  text-align: center;
  border-radius: 30px;
  font-size: 0.75rem;
}

@media (min-width: 600px) {
  body header nav span:nth-child(2) {
    font-size: 1rem;
  }
}

body header div.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3em auto 0;
  height: auto;
}

@media (min-width: 1200px) {
  body header div.box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  body header div.box .one {
    width: 45%;
    padding: 6em 2.2em 0;
  }
  body header div.box .one p {
    font-size: 1.2rem;
  }
}

body header div.box div.two {
  margin: 8em auto 0;
}

@media (min-width: 1200px) {
  body header div.box div.two {
    margin: 0;
  }
}

body header div.box div.two img {
  display: block;
  width: 100%;
  margin: auto;
  max-width: 700px;
}

body header div.box p {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

@media (min-width: 600px) {
  body header div.box p {
    font-size: 1.8rem;
  }
}

body div.wrapper {
  width: 90%;
  margin: auto;
}

@media (min-width: 600px) {
  body div.wrapper {
    max-width: 600px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  body div.wrapper {
    max-width: 1800px;
  }
}

@media (min-width: 1200px) {
  body div.wrapper .box:nth-child(-n + 3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3em;
    min-height: 30vh;
  }
}

@media (min-width: 1200px) {
  body div.wrapper .box:nth-child(1) .subbox:first-child, body div.wrapper .box:nth-child(3) .subbox:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

body div.wrapper div.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 55vh;
  margin: 2.5em auto 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.432);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  padding: 5em 1.5em;
}

body div.wrapper div.box img {
  width: 100%;
}

@media (min-width: 1200px) {
  body div.wrapper div.box div.subbox {
    padding: 1.5em;
  }
}

body div.wrapper div.box div.subbox h2 {
  text-align: center;
}

@media (min-width: 600px) {
  body div.wrapper div.box div.subbox h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  body div.wrapper div.box div.subbox h2 {
    text-align: start;
    margin-left: 1em;
  }
}

body div.wrapper div.box div.subbox p {
  text-align: center;
  width: 90%;
  margin: auto;
  color: #808d99;
  font-size: 1.2em;
  line-height: 1.8em;
}

@media (min-width: 600px) {
  body div.wrapper div.box div.subbox p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  body div.wrapper div.box div.subbox p {
    text-align: start;
    margin-left: 1em;
  }
}

@media (min-width: 1200px) {
  body div.wrapper div.box .subbox {
    padding: 1em;
  }
  body div.wrapper div.box .subbox:first-child {
    width: 40%;
    height: 25em;
  }
  body div.wrapper div.box .subbox:first-child img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body div.wrapper div.box .subbox:nth-child(2) {
    width: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body div.wrapper div.five {
  max-width: 500px;
  min-height: auto;
  height: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  position: relative;
  top: 6em;
}

@media (min-width: 1200px) {
  body div.wrapper div.five {
    padding: 2em 0;
  }
}

body div.wrapper div.five h2 {
  text-align: center;
  margin: 1em 0 1em;
}

body div.wrapper div.five button {
  margin: 0 auto 1em;
}

body footer {
  background-color: #00252e;
  color: white;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 600px) {
  body footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  body footer {
    text-align: start;
  }
}

body footer div.footwrapper {
  width: 85%;
  max-width: 500px;
  margin: 12em 2em 2em 2em;
}

@media (min-width: 1200px) {
  body footer div.footwrapper {
    max-width: 1400px;
    width: 90%;
  }
}

body footer div.footwrapper div.logo img {
  min-width: 150px;
  max-width: 40%;
}

@media (min-width: 1200px) {
  body footer div.footwrapper div.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body footer div.footwrapper div.info ul {
    width: 25%;
  }
}

body footer div.footwrapper div.info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

body footer div.footwrapper div.info ul li img {
  width: 1.2em;
  margin-right: 2em;
}

body footer div.footwrapper div.info ul.moreinfo {
  margin-top: 6em;
}

@media (min-width: 1200px) {
  body footer div.footwrapper div.info ul.moreinfo {
    margin-top: 0;
  }
  body footer div.footwrapper div.info ul.moreinfo li {
    width: 30%;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

body footer div.footwrapper div.info ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em 0;
}

@media (min-width: 1200px) {
  body footer div.footwrapper div.info ul.social {
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

body footer div.footwrapper div.info ul.social li {
  margin: 2em;
}

body footer div.footwrapper span.copyright {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}

@media (min-width: 1200px) {
  body footer div.footwrapper span.copyright {
    margin-top: 3em;
    text-align: end;
  }
}
/*# sourceMappingURL=main.css.map */
